@use "global" as *;

.button__flex{
    @include mq(md) {
        display: flex;
        gap: 0 rem(60);
    }
}

.button__link + .button__link{
    margin-top: rem(17.5);
    @include mq(md) {
        margin-top: rem(20);
    }
}

.button__link--margin + .button__link--margin{
    margin-top: rem(0) !important;
}

.button__link--margin{
    margin-top: rem(0);
}

.button__text{
    color: $indigo;
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(40/16);
    letter-spacing: 0.04em;
    @include mq(md) {
        font-size: rem(20);
    }
}




/*ボタン（藍色）*/
.button__item  {
    position: relative;
    background-color: $indigo;
    color: $white;
    width: rem(284);
    height: rem(64);
    font-size: rem(15.61);
    line-height: calc(34.7/15.61);
    font-weight: 900;
    letter-spacing: 0.04em;
    padding-right: rem(22);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border: solid 2px $white;
    @include mq(md) {
        width: rem(328);
        height: rem(74);
        font-size: rem(18);
        line-height: calc(40/18);
        font-weight: 900;
        padding-right: rem(22);    
    }
}

.button__item span::after {
	background-image: url(../images/common/button-icon-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 51%;
    right: rem(16);
    width: rem(14);
	height: rem(14);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        width: rem(17);
        height: rem(17);
    }
}

.button__item:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}




/*ボタン（trust）*/
.button__item--trust {
    background: $silver;
    color: #225278;
    border: solid 2px #838383;
}

.button__item--trust span::after {
	background-image: url(../images/common/button-icon-black.png) !important;
}










/*ボタン（case）*/
.button__item--case  {
    position: relative;
    background-color: $indigo;
    color: $white;
    width: rem(284);
    height: rem(64);
    font-size: rem(18);
    line-height: calc(34.7/18);
    font-weight: $bold;
    letter-spacing: 0.04em;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border: solid 2px $white;
    padding: 0;
    @include mq(md) {
        width: rem(413);
        height: rem(65);
        font-size: rem(18);
        line-height: calc(40/18);
        font-weight: $bold;
    }
}

.button__item--case span::after {
	background-image: url(../images/common/button-icon-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 51%;
    right: rem(16);
    width: rem(14);
	height: rem(14);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        width: rem(17);
        height: rem(17);
    }
}

.button__item--case:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}

.button__item--sp{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}







/*ボタン（topic）*/
.button__item--topic  {
    position: relative;
    background-color: $white;
    color: #7E4700;
    border: solid 1px #7E4700;
    width: rem(320);
    height: rem(65);
    font-size: rem(18);
    line-height: calc(34.7/18);
    font-weight: $semiBold !important;
    letter-spacing: 0.04em;
    padding-right: rem(0);
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    @include mq(md) {
        width: rem(606);
        height: rem(65);
        font-size: rem(18);
        line-height: calc(60/18);
        padding-right: rem(0);    
    }
}

.button__item--topic span::after {
	background-image: url(../images/common/button-icon-white.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
    position: absolute;
    top: 51%;
    right: rem(16);
    width: rem(14);
	height: rem(14);
	transform: translateY(-50%);
	transition: 0.4s background-color;
    @include mq(md) {
        width: rem(17);
        height: rem(17);
    }
}

.button__item--topic:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}

.button__text--topic{
    color: #7E4700;
    font-size: rem(16);
    font-weight: $semiBold;
}



































/*ボタン（recommendation）*/
.recommendation__button  {
    position: relative;
    background: $silver;
    color: #333;
    width: rem(328);
    height: rem(74);
    font-size: rem(16);
    line-height: calc(34.7/15.61);
    font-weight: 900;
    letter-spacing: 0.04em;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border: solid 2px $white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    @include mq(md) {
        line-height: calc(40/16);
    }
}

.recommendation__button span::after {
	background-image: none;

}

.recommendation__button:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}



.recommendation__button-text{
    background: $gold;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: rem(16);
    font-weight: 900 !important;
    line-height: calc(40/16);
    letter-spacing: 0.04em;
    @include mq(md) {
        font-weight: $medium;
    }
}






/*ボタン（recommendation）*/
.recommendation__button-white  {
    position: relative;
    background: $white;
    color: $blue;
    width: rem(328);
    height: rem(74);
    font-size: rem(16);
    line-height: calc(34.7/15.61);
    font-weight: 900;
    letter-spacing: 0.04em;
    z-index: 1;
    transition: 0.4s;
    overflow: hidden;
    border: solid 1px $blue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    @include mq(md) {
        line-height: calc(40/16);
    }
}

.recommendation__button-white span::after {
	background-image: none;

}

.recommendation__button-white:hover{
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    cursor: pointer;
}
