@use "global" as *;

.footer{
    padding: rem(100) 0 rem(60);
    color: $white;
    max-width: rem(500);
    margin: 0 auto;
    @include mq(md) {
        max-width: rem(1440);
        padding: rem(100) 0 rem(216);
    }
}

.footer__inner{
    max-width: rem(390);
    margin: 0 auto;
    padding: 0 rem(24.5);
    @include mq(md) {
        max-width: rem(1210);
        padding: 0 rem(25);
    }
}

.footer__title-img{
    width: rem(365);
    height: rem(109);
    @include mq(md) {
        width: rem(616);
        height: rem(99.48);
    }
}

.footer__list{
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(75.79);
    }
}






// .arrow-wrapper {
//     position: fixed;
//     bottom: 30px;
//     right: 30px;
//     z-index: 1000;
//     cursor: pointer;
//     display: none; /* 初期状態は非表示 */
// }


// .arrow {
//     width: 60px; /* 矢印の背景円のサイズ */
//     height: 60px;
//     border-radius: 50%;
//     background: $blue-gradation;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .arrow::before {
//     content: "";
//     display: block;
//     width: 0;
//     height: 0;
//     border-style: solid;
// }

// /* 上向きの矢印 */
// .arrow.-top::before {
//     border-right: 10px solid transparent;
//     border-left: 10px solid transparent;
//     border-bottom: 20px solid #fff;
//     border-top: 0;
//     transform: translateY(-1px);
// }
