@use "global" as *;

.recommendation{
    color: $black;
}


.recommendation__title-img{
    width: 100%;
    height: rem(189);
    @include mq(md) {
        width: 100%;
        height: rem(189);
    }
}

.recommendation__list{
    margin-top: rem(77.27);
    @include mq(md) {
        margin-top: rem(110);
    }
}

.recommendation__item {
    padding-bottom: rem(80);
    background-image: url('../images/common/recommendation-bg-color.png');
    background-position: left calc(50% + 36px); /* 背景画像を36px下に移動 */
    background-repeat: no-repeat;
    background-size: 52.56% 100%;
    @include mq(md) {
        padding-bottom: rem(100);
        background-image: url('../images/common/recommendation-bg-color.png');
        background-position: left calc(50% + 36px); /* 背景画像を36px下に移動 */
        background-repeat: no-repeat;
        background-size: rem(426) 100%;
    }
}

.recommendation__item--second{
    padding-bottom: rem(100);
    background-image: url('../images/common/recommendation-bg-color.png');
    background-position: left calc(50% + 36px); /* 背景画像を36px下に移動 */
    background-repeat: no-repeat;
    background-size: 52.56% 100%;
    @include mq(md) {
        padding-bottom: rem(100);
        background-image: url('../images/common/recommendation-bg-color.png');
        background-position: right calc(50% + 36px); /* 背景画像を36px下に移動 */
        background-repeat: no-repeat;
        background-size: rem(426) 100%;
    }

}

.recommendation__item + .recommendation__item{
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(120);
    }
}

.recommendation__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(25);
    @include mq(md) {
        max-width: rem(948);
        padding: 0 2.28%;
    }
}

.recommendation__head{
    @include mq(md) {
        display: flex;
        gap: 0 rem(27);
    }
}

.recommendation__head--second{
    @include mq(md) {
        display: flex;
        flex-direction: row-reverse;
        gap: 0 rem(27);
    }
}

.recommendation__head-img{
    width: 100%;
    @include mq(md) {
        width: 52.7%;
    }
}

.recommendation__head-sentence{
    width: 100%;
    position: relative;
    @include mq(md) {
        width: 43.5%;
        margin-top: rem(125);
    }
}

.recommendation__head-sentence--second{
    @include mq(md) {
        width: 43.5%;
        margin-top: rem(165);
    }
}

.recommendation__head-en{
    position: absolute;
    top: rem(155);
    left: 54%; /* 左から50% */
    transform: translate(-50%, -50%); /* X軸方向に50%ずらして中央揃え */
    font-family: $second-font-family;
    font-size: rem(42);
    font-weight: $regular;
    line-height: calc(80/42);
    text-transform: capitalize;
    color: rgba(21, 33, 55, 0.5); /* 半透明の文字色 */
    z-index: 100;
    @include mq(md) {
        font-size: rem(64);
        margin: 0;
        top: -14%;
        left: 53%; /* 左から50% */
    }
}
@media (max-width: 1300px) {
    .recommendation__head-en {
        font-size: rem(56);
    }
}
@media (max-width: 768px) {
    .recommendation__head-en {
        font-size: rem(42);
    }
}

.recommendation__head-en--second{
    top: rem(123);
    font-size: rem(42);
    @include mq(md) {
        font-size: rem(48);
        top: -24%;
        left: 45%; /* 左から50% */
    }
}

.recommendation__head-en--third{
    top: rem(173);
    font-size: rem(42);
    @include mq(md) {
        font-size: rem(48);
        top: -12%;
        left: 45%; /* 左から50% */
    }
}

.recommendation__head-en span{
    color: rgba(255, 255, 255, 0.5);
    @include mq(md) {
        color: rgba(21, 33, 55, 0.5); /* 半透明の文字色 */
    }
}


.recommendation__headBox{
    text-align: left;
    background-color: $white;
    color: $indigo;
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: rem(40) auto 0  ;
    padding: rem(10) rem(20);
    @include mq(md) {
        text-align: right;
        background-color: transparent; /* 背景色を取り除く */
        margin: rem(0);
        width: 100%;
        padding: 0;
    }
}

.recommendation__headBox--second{
    @include mq(md) {
        text-align: left;
    }
}

.recommendation__headBox--third{
    line-height: 1.25;
}

.recommendation__head-subtitle{
    font-size: rem(20);
    font-weight: $semiBold;
    letter-spacing: 0.04em;
    @include mq(md) {
        font-size: rem(28);
        white-space: nowrap;
    }
}

.recommendation__head-subtitle--third{
    @include mq(md) {
        text-align: left;
    }
}

.recommendation__head-title{
    font-size: rem(36);
    font-weight: $semiBold;
    letter-spacing: 0.04em;
    white-space: nowrap;
    @include mq(md) {
        font-size: rem(48);
    }
}

.recommendation__head-title--third{
    text-align: left;
    font-size: rem(28);
    margin-top: rem(8);
    @include mq(md) {
        font-size: rem(36);
    } 
}

.recommendation__head-title--third span {
    letter-spacing: -0.01em;
    @include mq(md) {
        letter-spacing: 0.04em;
    }
}

.recommendation__textBox{
    margin-top: rem(100);
    margin-right: rem(10);
    margin-left: rem(10);
    background-color: $white;
    color: #000;
    padding: rem(40) rem(20);
    @include mq(md) {
        margin-top: rem(40);
        margin-right: 0;
        margin-left: rem(0);
        background-color: transparent;
        padding: 0;
    }
}

.recommendation__textBox--second{
    @include mq(md) {
        margin-top: rem(20);
    }
}

.recommendation__text{
    text-align: left;
    text-align: justify;
    font-size: rem(16);
    font-weight: $medium;
    line-height: calc(28/16);
    letter-spacing: 0.04em;
}

.recommendation__text + .recommendation__text{
    margin-top: rem(30);
}

.recommendation__property {
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: rem(56) auto auto 0; // 左側のパディングはそのまま
    @include mq(md) {
        width: 100%;
        margin: rem(40) auto auto auto; // 左側のパディングはそのまま
    }
}


.recommendation__service{
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: rem(40) auto auto 0; // 左側のパディングはそのまま
    @include mq(md) {
        width: 100%;
        margin: rem(40) auto auto auto; // 左側のパディングはそのまま
    }
}



.recommendation__buttons{
    margin-top: rem(40);
    @include mq(md) {
        display: flex;
        gap: 0 rem(40);
        justify-content: center;
        align-items: flex-end;    
        margin-top: rem(60);
    }
}

.recommendation__button-white{
    margin-top: rem(20);
    @include mq(md) {
        margin-top: rem(0);
    }
}

.recommendation__works {
    overflow-x: scroll;
    width: calc(100% + rem(25));  // 右側のパディングのみ補正
    margin: auto auto auto 0; // 左側のパディングはそのまま
    @include mq(md) {
        overflow-x: visible;
        width: 100%;
        margin: auto;
    }
}

.recommendation__works-img{
    width: rem(1000);
    height: rem(300);
    margin: rem(60) auto 0;
    @include mq(md) {
        width: 100%;
        height: 100%;
        margin: rem(80) auto 0;
    }
}






.recommendation__review{
    margin: rem(80) rem(10) 0;
    background-color: $white;
    @include mq(md) {
        margin: rem(100) 0 0 0;
    }
}

.recommendation__review-title{
    width: rem(320);
    height: rem(39);
    margin: 0 auto;
    padding-top: rem(38.43);
    @include mq(md) {
        width: rem(819);
        height: rem(58);
        width: 100%;
        margin: rem(20) auto 0;
    }
}

.recommendation__review-list{
    margin-top: rem(78);
    padding: rem(0) rem(18) rem(80);
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        max-width: rem(700);
        margin: rem(43.3) auto 0;
        padding: rem(37) rem(25) rem(61);
    }
}

.recommendation__review-item{
    @include mq(md){
        max-width: calc(50% - 3.75rem * 1 / 2 );
        margin: 0 auto;
        width: 100%;
    }
}

.recommendation__review-item + .recommendation__review-item{
    margin-top: rem(40);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(60);
    }
}


.recommendation__review-human{
    width: rem(141);
    height: rem(145);
    margin: 0 auto;
}

.recommendation__review-text{
    margin-top: rem(9);
    font-size: rem(16);
    font-weight: $medium;
    letter-spacing: 0.04em;
    @include mq(md) {
        font-size: rem(16);
    }
}

.recommendation__review-source{
    color: $black;
    display: flex;
    justify-content: center;
    font-size: rem(12);
    font-weight: $regular;
    line-height: calc(26/9.54);
    @include mq(md) {
        margin-top: rem(14);
        line-height: calc(18/12);
    }
}

.recommendation__review-source-text{
    text-decoration: underline;
}

.recommendation__review-source-text a:hover{
    opacity: 0.5;
    transition: 0.3s;
}



.recommendation__table{
    width: calc(100% + rem(50));
    margin: rem(80) auto auto rem(-25);
    @include mq(md) {
        background-color: #D2DFEB;
        padding: rem(63) rem(100) rem(63) rem(34) ;
        margin: rem(96) auto auto auto;
        width: 100%;
    }
}





.recommendation__review-text--third {
    height: rem(433);
    display: flex; /* Flexboxを使用 */
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    text-align: center; /* テキストが複数行の場合、中央揃え */

}
















.company-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2DFEB;
    padding: rem(63) rem(20);
    margin-top: rem(50);
}

.company-overview__left {
    background-color: #A3BFD3;
    padding: 40px 20px;
    text-align: center;
    color: #0D2D5D;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.english {
    font-family: $second-font-family;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: rem(48); /* Adjust as needed */
    color: $indigo; /* Adjust color if necessary */
    font-weight: $regular
}

.japanese {
    writing-mode: vertical-rl;
    font-size: rem(24); /* Adjust as needed */
    color: $black; /* Adjust as needed */
    font-weight: 900;
    letter-spacing: 0.4em;
}


.company-overview__right {
    background-color: #fff;
    padding: rem(16);
    margin-left: rem(42);
    width: 70%;
}

.company-overview__table {
    width: 100%;
    border-collapse: collapse;
}

.company-overview__table th, 
.company-overview__table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px dashed #22547D; /* 通常のボーダー */
}

.company-overview__table th {
    font-weight: bold;
    color: #0D2D5D;
    width: 150px;
    border-right: 1px dashed #22547D; /* 右側の線 */
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(28/16);
    letter-spacing: 0.1em;
    text-align: center;
}

.company-overview__table td {
    padding-left: 20px; /* th と td の間に余白 */
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1.25;
    letter-spacing: 0.07em;
}

.company-overview__table-bold{
    font-weight: $bold !important;
}

.company-overview__table-font{
    font-size: rem(12);
}

/* 最後の行の下線を削除 */
.company-overview__table tr:last-child th,
.company-overview__table tr:last-child td {
    border-bottom: none;
}

.company-overview__table td a {
    color: #0D2D5D;
    text-decoration: none;
}










.company-overview-sp{
    display: flex;
    gap: 0 rem(16);
    background-color: #D2DFEB;
    width: calc(100% + rem(50));
    margin: rem(20) auto auto rem(-25);
    padding:rem(40) rem(24) rem(40) rem(15) ;
}

.vertical-text-sp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.english-sp {
    font-family: $second-font-family;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: rem(36); /* Adjust as needed */
    color: $indigo; /* Adjust color if necessary */
    font-weight: $regular;
    letter-spacing: 0.04em;
}

.japanese-sp {
    writing-mode: vertical-rl;
    font-size: rem(20.3); /* Adjust as needed */
    color: $black; /* Adjust as needed */
    font-weight: 900;
    letter-spacing: 0.4em;
}

.company-overview__list{
    background-color: $white;
    padding: rem(40) rem(25);
    width: 74.5%;
}

.company-overview__item span {
    font-size: rem(14);
}

.company-overview__item dt {
    font-size: rem(16);
    color: $blue;
    font-weight: $bold;
    letter-spacing: 0.01em;
    border-bottom: dashed 1px $indigo ;
    padding-bottom: rem(9);
}

.company-overview__item + .company-overview__item{
    margin-top: rem(20);
}

.company-overview__item dd {
    margin-top: rem(15);
    font-size: rem(16);
    font-weight: $medium;
    letter-spacing: 0.04em;
}

.padding{
    width: calc(100% + rem(50));
    margin: rem(20) auto auto rem(-25);
}